<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <head th:fragment="styles">
        <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
        <link th:ref="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}" rel="stylesheet">
    </head>
</head>

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a th:text="PlayerRanking" class="navbar-brand font-weight-bold" th:href="@{/}" style="color: whitesmoke;padding-left: 30px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/club/list}">Clubs<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" th:href="@{/player/list}">Players<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" th:href="@{/competition/list}">Competitions<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" th:href="@{/}">Ranking<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
</body>
</html>
