<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Competition List</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>

<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4">Competition List</h1>
        <br>
        <a th:href="@{/competition/add}" class="link-light">+ Add new competition</a>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="rounded table table-bordered">
                        <thead >
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Year</th>
                            <th scope="col" colspan="3">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="competition, iterationStatus : ${listCompetition}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${competition.name}"></td>
                            <td th:text="${competition.start_date.Date}+'-'+${competition.start_date.Month+1}+'-'+${competition.start_date.Year+1900}"></td>
                            <td th:text="${competition.end_date.Date}+'-'+${competition.end_date.Month+1}+'-'+${competition.end_date.Year+1900}"></td>
                            <td th:text="${competition.year}"></td>
                            <td><a type="button" class="btn btn-outline-info btn-block"  th:href="@{/competition/detail(id=${competition.id})}">Detail</a></td>
                            <td><a type="button" class="btn btn-outline-warning btn-block"  th:href="@{/competition/edit/(id=${competition.id})}">Edit</a></td>
                            <td><a type="button" class="btn btn-outline-danger btn-block"  th:href="@{/competition/delete(id=${competition.id})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>