<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Competition Form</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4">Edit Competition</h1>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Input Competition Information</h3>
                    <form th:action="@{/competition/edit}" th:object="${competition}" method="POST">
                        <input type="hidden" th:field="${competition.id}"/>
                        <div class="form-group row">
                            <label class="col-sm-3">Name: </label>
                            <div class="col-sm-3">
                                <input  type="text" class="form-control" th:placeholder="${competition.name}" th:field="*{name}" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3">Year: </label>
                            <div class="col-sm-3">
                                <input  type="text" class="form-control" th:placeholder="${competition.year}" th:field="*{year}" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3">Start Date: </label>
                            <div class="col-sm-3">
                                <input  type="date" class="form-control" th:placeholder="${competition.start_date}" th:field="*{start_date}" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3">EndDate: </label>
                            <div class="col-sm-3">
                                <input  type="date" class="form-control" th:placeholder="${competition.end_date}" th:field="*{end_date}" required="required">
                            </div>
                        </div>
                        <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/competition/list}">Back</a>
                        <button type="submit" class="btn btn-outline-success btn-lg float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>