<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Club Form</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4">Add Club</h1>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/club/add}" th:object="${newClub}" method="POST">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group row">
                            <label class="col-sm-3" for="formGroupExampleInput">Name: </label>
                            <div class="col-sm-3">
                                <input  type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" th:field="*{name}" required="required">
                            </div>
                        </div>
                        <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/club/list}">Back</a>
                        <button type="submit" class="btn btn-outline-success btn-lg float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>