<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player Edited</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<br><br><br>
<br><br><br>
<br><br><br>
<div  class="container d-flex justify-content-center align-middle">
    <div class="row">
        <div class="w-100"></div>
        <h2 style="font-family: 'Noto Sans KR', sans-serif;" class="col d-flex justify-content-center mb-3"
            th:text="${name} + ' is successfully edited'"></h2>
        <div class="w-100"></div>
        <br><br><br>
        <a th:href="@{/player/list}" class="btn btn-outline-primary col d-flex justify-content-center ml-1 mr-1">Back</a>
    </div>
</div>

</body>
</html>