<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player Detail</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>

<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4" th:text="${player.name}"></h1>
        <hr>
        <h3 class="display-7" th:text="${player.player_club.name} + ' | ' + ${player.player_position.name} + ' | ' + ${player.number}"></h3>
        <hr>
        <h5 class="display-10" th:text="'Birthdate: '+${player.birthday.Date}+'-'+${player.birthday.Month}+'-'+${player.birthday.Year}+' (Age: '+${player.age}+')'
        + ' | ' +' Height: '+${player.height}+' cm'+ ' | ' +' Weight: '+${player.weight}+' kg'"></h5>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Personal Statistic</h3>
                    <table class="rounded table table-bordered">
                        <thead >
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col" colspan="3">Action</th>
                        </tr>
                        </thead>
                        <!--<tbody>
                        <tr th:each="club, iterationStatus : ${listClub}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${club.name}"></td>
                            <td><a type="button" class="btn btn-outline-info btn-block"  th:href="@{/club/detail(id=${club.id})}">Detail</a></td>
                            <td><a type="button" class="btn btn-outline-warning btn-block"  th:href="@{/club/edit/(id=${club.id})}">Edit</a></td>
                            <td><a type="button" class="btn btn-outline-danger btn-block"  th:href="@{/club/delete(id=${club.id})}">Delete</a></td>
                        </tr>
                        </tbody>-->
                    </table>
                    <h3 class="card-title">Game Logs</h3>
                    <table class="rounded table table-bordered">
                        <thead >
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col" colspan="3">Action</th>
                        </tr>
                        </thead>
                        <!--<tbody>
                        <tr th:each="club, iterationStatus : ${listClub}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${club.name}"></td>
                            <td><a type="button" class="btn btn-outline-info btn-block"  th:href="@{/club/detail(id=${club.id})}">Detail</a></td>
                            <td><a type="button" class="btn btn-outline-warning btn-block"  th:href="@{/club/edit/(id=${club.id})}">Edit</a></td>
                            <td><a type="button" class="btn btn-outline-danger btn-block"  th:href="@{/club/delete(id=${club.id})}">Delete</a></td>
                        </tr>
                        </tbody>-->
                    </table>
                    <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/player/list}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>