<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player Detail</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>

<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4" th:text="${player.name}"></h1>
        <hr>
        <h3 class="display-7" th:text="${player.player_club.name} + ' | ' + ${player.player_position.name} + ' | ' + ${player.number}"></h3>
        <hr>
        <h5 class="display-10" th:text="'Birthdate: '+${player.birthday.Date}+'-'+${player.birthday.Month+1}+'-'+${player.birthday.Year+1900}+' (Age: '+${player.age}+')'
        + ' | ' +' Height: '+${player.height}+' cm'+ ' | ' +' Weight: '+${player.weight}+' kg'"></h5>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Personal Statistic</h3>
                    <hr>
                    <table class="rounded table table-bordered">
                        <thead >
                        <tr>
                            <th scope="col">Competition</th>
                            <th scope="col">Games</th>
                            <th scope="col">PPG</th>
                            <th scope="col">FGMPG</th>
                            <th scope="col">FTMPG</th>
                            <th scope="col">APG</th>
                            <th scope="col">RPG</th>
                            <th scope="col">BLKPG</th>
                            <th scope="col">STLPG</th>
                            <th scope="col">TOPG</th>
                            <th scope="col">FLSPG</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="stats, iterationStatus : ${personalStats}">
                            <td th:text="${stats.competition_id.name}"></td>
                            <td th:text="${stats.game}"></td>
                            <td th:text="${stats.ppg}"></td>
                            <td th:text="${stats.fgmpg}"></td>
                            <td th:text="${stats.ftmpg}"></td>
                            <td th:text="${stats.apg}"></td>
                            <td th:text="${stats.rpg}"></td>
                            <td th:text="${stats.blkpg}"></td>
                            <td th:text="${stats.stlpg}"></td>
                            <td th:text="${stats.topg}"></td>
                            <td th:text="${stats.flspg}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="card-title">Game Logs</h3>
                    <hr>
                    <table class="rounded table table-bordered">
                        <thead >
                        <tr>
                            <th scope="col">Game</th>
                            <th scope="col">Date</th>
                            <th scope="col">Mins</th>
                            <th scope="col">Pts</th>
                            <th scope="col">Field Goal</th>
                            <th scope="col">Two Point</th>
                            <th scope="col">Three Point</th>
                            <th scope="col">Free Throw</th>
                            <th scope="col">Rebound</th>
                            <th scope="col">Assist</th>
                            <th scope="col">Steal</th>
                            <th scope="col">Block</th>
                            <th scope="col">Turnover</th>
                            <th scope="col">Foul</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="game, iterationStatus : ${gameLogs}">
                            <td th:text="${game.game_id.away_club.name}+' - '+${game.game_id.home_club.name}"></td>
                            <td th:text="${game.game_id.date.Date}+'-'+${game.game_id.date.Month+1}+'-'+${game.game_id.date.Year+1900}"></td>
                            <td th:text="${game.minute}"></td>
                            <td th:text="${game.point}"></td>
                            <td th:text="${game.field_goal_made}+'-'+${game.field_goal_attempted}"></td>
                            <td th:text="${game.two_point_made}+'-'+${game.two_point_attempted}"></td>
                            <td th:text="${game.three_point_made}+'-'+${game.three_point_attempted}"></td>
                            <td th:text="${game.free_throw_made}+'-'+${game.free_throw_attempted}"></td>
                            <td th:text="${game.offRebound+game.defRebound}"></td>
                            <td th:text="${game.assist}"></td>
                            <td th:text="${game.steal}"></td>
                            <td th:text="${game.block}"></td>
                            <td th:text="${game.turnover}"></td>
                            <td th:text="${game.foul}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/player/list}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>