<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rank List</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>

<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4" th:text="${club.name}+' Player Ranking in '+${competition.name}"></h1>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Player Rank</h3>
                    <hr>
                    <div style="overflow-x:auto;">
                        <table class="rounded table table-bordered">
                            <thead >
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">FGMPG</th>
                                <th scope="col">FTMPG</th>
                                <th scope="col">FG%</th>
                                <th scope="col">2P%</th>
                                <th scope="col">3P%</th>
                                <th scope="col">FT%</th>
                                <th scope="col">APG</th>
                                <th scope="col">DRPG</th>
                                <th scope="col">ORPG</th>
                                <th scope="col">TOPG</th>
                                <th scope="col">PIR</th>
                                <th scope="col">Performance Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rank, iterationStatus : ${listRank}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${rank.personalStatistic.player.name}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.fgmpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.ftmpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.fgperpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.twoptperpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.threeptperpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.ftperpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.apg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.drpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.orpg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.personalStatistic.topg, 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal((rank.personalStatistic.ppg+rank.personalStatistic.rpg+rank.personalStatistic.apg+
                                rank.personalStatistic.stlpg+rank.personalStatistic.blkpg+rank.personalStatistic.flsonpg)-
                                ((rank.personalStatistic.fgapg
                                -rank.personalStatistic.fgmpg)+(rank.personalStatistic.ftapg
                                -rank.personalStatistic.ftmpg)+rank.personalStatistic.topg+rank.personalStatistic.flspg+rank.personalStatistic.blkapg), 0, 2)}"></td>
                                <td th:text="${#numbers.formatDecimal(rank.performance_score, 0, 4)}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/rank/find}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>