<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Rank</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>
<body style="font-family: 'Noto Sans KR', sans-serif;">
<nav th:replace="fragments/fragment"></nav>
<div class="jumbotron jumbotron-fluid" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4">Find Rank</h1>
    </div>
</div>
<div class="container">
    <div class="row container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Select Club and Competition</h3>
                    <form th:action="@{/rank/find}" method="POST">
                        <div id="position" class="form-group row" >
                            <label class="col-sm-3 col-form-label">Club: </label>
                            <div class="col-sm-3">
                                <select name="clubId" class="form-control" >
                                    <option th:each="club : ${listClub}" th:value="${club.id}" th:text="${club.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div id="club" class="form-group row" >
                            <label class="col-sm-3 col-form-label">Competition: </label>
                            <div class="col-sm-3">
                                <select name="competitionId" class="form-control" >
                                    <option  th:each="competition : ${listCompetition}" th:value="${competition.id}" th:text="${competition.name}"></option>
                                </select>
                            </div>
                        </div>
                        <a type="button"  class="btn btn-outline-primary btn-lg float-left" th:href="@{/}">Back</a>
                        <button type="submit" class="btn btn-outline-success btn-lg float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>