<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: styles" th:remove="tag"></object>
</head>
<body>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <h1>Registration</h1>
                            <p class="text-medium-emphasis">Input your data</p>
                            <form th:action="@{/user/register}" th:object="${user}" method="POST">
                                <div class="form-group row">
                                    <label class="col-sm-5">Username: </label>
                                    <div class="col-sm-6">
                                        <input  type="text" class="form-control" placeholder="Username" th:field="*{username}" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5">Password: </label>
                                    <div class="col-sm-6">
                                        <input  type="password" class="form-control" placeholder="Password" th:field="*{password}" required="required">
                                    </div>
                                </div>
                                <div id="role" class="form-group row" >
                                    <label class="col-sm-5 col-form-label">Club: </label>
                                    <div class="col-sm-6">
                                        <select name="roleId" class="form-control" >
                                            <option  th:each="role : ${listRole}" th:value="${role.id}" th:text="${role.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>